<input type="text" [(ngModel)]="title">


<h1>{{title}}</h1>

<div *ngIf="title =='1'">
  este es un div
</div>

<div class="" [ngSwitch]="title">
  <p *ngSwitchCase="'sergio'">
    este es un parrafo que se muestra a Sergio
  </p>
  <p *ngSwitchCase="'2'">
    este es un parrafo que reacciona al 2
  </p>
  <p *ngSwitchDefault>
    este es un del e-store
  </p>
</div>

<!-- <button (click)="addItem()">Add Item</button> -->

<div class="cards">
  <h2 *ngIf="items.length == 0"> La lista esta vacia </h2>

  <app-product *ngFor="let item of items; index as i" (AddToCartEvent)="readEvent($event)" [tshirt]="item">
  </app-product>
</div>
